body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4F4F4F;
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    width: 80%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    list-style-type: none;

}

.post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}

.submit-form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
    margin-top: 50px;

}

label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    text-align: left;
}

/* Input-Felder */
input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.submit-btn {
    background: #cf1111a0;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
    text-align: center;
    display: inline-block;
    transition: background 0.3s ease;
    box-sizing: border-box;
}

.delete-btn, .update-btn {
    background: #cf1111a0;
    color: white;
    border: none;
    padding: 5px 15px;
    margin: 2.5px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
    text-align: center;
    display: inline-block;
    transition: background 0.3s ease;
    box-sizing: border-box;
}

/* Entfernt die Text-Dekoration von Links */
.update-btn {
    text-decoration: none; /* Entfernt die Unterstreichung */
}

.delete-btn:hover, .update-btn:hover, submit-btn:hover {
    background-color: #3b3b3b;
}