<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to My Flask Blog!</h1>

    {% for post in posts %}
        <ul class="post">
            <h3>{{ post['title'] }}</h3>
            <p><strong>by {{ post['author'] }}</strong></p>
            <p>{{ post['content'] }}</p>
        </ul>
    {% endfor %}

</body>
</html>
